<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <title>ProChess Circuit</title>
</head>
</head>
<body>

    <!--WHEN YOU WRITE THE CODE FOR THE PAGES AT THE TOP, USE FLEX BOXES!!!!-->

    <div class="links">
        
        <a class="home" href=" ./index.html">Homepage</a>
    
        <a class="contact" href=" ./templates/contact.html">Contact</a>
    
        <a class="tournaments" href=" ./templates/tournaments.html">Upcoming Tournaments</a>

        <a class="FAQ" href=" ./templates/FAQ.html">FAQ's</a>
    
        <a class="login" href="/login">Login</a>


    </div>

<div class="open-text">

    <div class="Logo">
        <h1>Play Chess Profesionally.</h1>
    </div>
    <div class="intro">
        <div class="welcome">
        <h4>Welcome to the Pro Chess Circuit.</h4>
        </div>
        <h4>Here, you can login to your account, browse tournaments, or you can create an account with us. Please note that
            you will have to verify your rating range by connecting your chess.com or Lichess account. Find conditions <span><a href="" ./pages/FAQ.html">here</a></span>
        </h4>
</div>
    
</div>

<div class="container1">

<div class="video">
<iframe width="1200" height="600" src="https://www.youtube.com/embed/EeRfSNx5RhE">
</iframe>
</div>

<div class="disclaimer">
<p>12 tournament slots open every day. $5 entry fee per tournament.</p>
<p>If the tournament is cancelled, no money will leave your account. Multiple
tournament formats available. The payouts are as follows:
</p>
<ul>
<li>1st Place: 50% of prize pool.</li>
<li>2nd Place: 30$ of prize pool.</li>
<li>3rd Place: 20% of prize pool</li>
</ul>
<p>Disclaimer: The Pro Chess Circuit takes a 20% administration fee from the prize pool before payouts.</p>
All payouts will enter your account within 3 working days.</p>
<p>Our email address is:</p>
<p>You can call us at:</p>
<p>Finally, it's good to see you. Welcome to The Pro Chess Circuit.</p>
</div>
</div>





</body>

</html>
